body {
  background:  linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
   url("https://wallpaperaccess.com/full/922661.jpg");
  background-position: center;
  background-size: cover;
}
header {
  background-size: cover;
  box-shadow: 5px 5px 10px black, 13px 13px 10px indigo;
}


.app-name {
  color: ivory;
  font-size: 3.5em;
}

.create-form-card {
  width: 300px;
  text-align: center;
}

textarea {
  resize: none;
  height: 100px;
  width: 250px;
}

.create-button {
  margin: 20px 0;
  box-shadow: 5px 5px 10px black, 13px 13px 10px aqua;
}

.inputEditButton {
  display: inline-block;
  margin: 8px;
  box-shadow: 5px 5px 8px black, 13px 13px 8px aqua;
  position: absolute;
  background-color: ivory !important;
}

.deleteButton {
  display: inline-block;
  margin: 8px;
  box-shadow: 5px 5px 8px black, 13px 13px 8px aqua;
  float: right;
  position: relative;
  background-color: ivory !important;
}

.navbar{
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.authorName span {
  color: ivory !important;
}

.container{
  margin: 0px;
}

.create-form {
  background-color: rgb(50, 50, 50);
  position: absolute;
  left: 65%;
  z-index: 3;
}
.edit-title {
  background-color: ivory !important;
}
.input-box {
 background-color: darkgrey;
 border-radius: 8px;
}

.input-box-edit {
 background-color: darkgrey;
 border-radius: 8px;
 height: 3.25rem !important;
 padding: 0 !important;
 font-size: 1rem;
 line-height: 1;
 background-color: ivory !important;
}

.these {
  color: ivory;
}

.bk-page {
  background-color: ivory !important;
}
