body {
  background:  linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
   url("https://wallpaperaccess.com/full/922661.jpg");
  background-position: center;
  background-size: cover;
}
header {
  background-size: cover;
  box-shadow: 5px 5px 10px black, 13px 13px 10px indigo;
}


.app-name {
  color:lightgrey;
  font-size: 3.5em;
}

.create-form-card {
  width: 300px;
  text-align: center;
}

textarea {
  resize: none;
  height: 100px;
  width: 250px;
}

.create-button {
  margin: 20px 0;
  box-shadow: 5px 5px 10px black, 13px 13px 10px aqua;
}

.navbar{
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.authorName{
  color: green !important;
}

.container{
  margin: 0px;
}

.create-form {
  background-color: rgb(50, 50, 50);
  position: absolute;
  left: 65%;
  z-index: 2;
}

.input-box {
 background-color: darkgrey;
}

.these {
  color: lightgrey;
}
